*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(background.png);
    position: relative;
    padding: 20px; /* Adjust the padding as needed */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    
}


#header{
    width: 800px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    #header{
        width: 100%;
        height: max-content;
    }
    
}

#logo{
    height: 250px;
    width: 250px;
}
#nav{
    margin-top: 20px;
    width: 800px;
    height: 50px;
    background-color: rgba(255, 228, 196, 0.49);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    
}

/*resolution break point */
@media (max-width:768px){
    #nav{
    width: 100%;
    height: max-content;;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    }
}

#h1{
    margin-top: 20px;
    color: navajowhite;
    margin-bottom: 20px;
}
#nav-a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    width: 800px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width:768px) {
    #main{
        width:100%;
        height: max-content;
    }
    
}
#p{
    
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    color: darkgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width:768px) {
    #p{
        max-width: 300px;
    }
    
}

#button{
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    background-color:  rgba(233, 150, 122, 0.462);
    border-radius: 10px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer{
    width: 800px;
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:20px;
    padding-right: 20px;
}

@media (max-width:768px) {
    #footer{
        width: 100%;
        margin-top: 10px;
    }
    
}



#copyright{
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

@media (max-width:768px) {
    #copyright{
        font-size: 20px;
    }
    
}
#instagram{
    font-size: 20px;
    background-color: rgba(255, 248, 220, 0.51);
    padding:5px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

@media (max-width:768px) {
    #instagram{
    font-size: 15px;
    padding: 2px;
    border-radius: 7px;
    }
    }
    


#youtube{
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

@media (max-width:768px) {
    #youtube{
        width:100%;
    }
    
}

map{
    padding: 20px;
    border-radius: 20px;
}

@media (max-width:768px) {
    #map{
        width:100%;
    }
    
}

#par{
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   

}

#chatbot{
    position: absolute;
    bottom: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #chatbot {
        position: fixed; /* Fixed position for smaller screens */
        bottom: 0;
        right: 0;
        width: 100%; /* Occupy full width */
        height: 50vh; /* Adjust the height as needed */
        border-radius: 0; /* No border-radius for smaller screens */
    }
}